*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 1620px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-left: 75px;
}

.logo span{
color: #DA2535;
}

menu ul li{
    font-family: 'Inter', sans-serif;
    color: #292929;
    display: inline-block;
   padding-left: 90px;
   
   text-decoration:none;
}
menu ul li a{
    text-decoration: none;
    color: #292929;
}

menu ul li a:hover{
    color: #DA2535;
    font-weight: bold;
}

header button{
    font-family: 'Inter', sans-serif;
    width: 189px;
    height: 49px;
    border-radius: 10px;
    border: 2px solid #292929;
    background-color: transparent;
    color: #292929;
    font-size: 24px;
    font-weight: 600px;
}

header button:hover{
    color: #DA2535;
    border-color: #DA2535;
}
.main1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 70px;
}

#mainheader1{
    margin-top: 215px;
}

#mainheader1 #title{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #292929;
    margin-top: -204px;
    padding-bottom: 24px;
}

#textmain{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
color: #292929;
margin-bottom: 48px;
}


.main1 button{
    font-family: 'Inter', sans-serif;
    width: 292px;
    height: 69px;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    background-color: #DA2535;
    border: none;
    font-weight: 600;
}

.main1 button:hover{
    background-color: #292929;
    color: #F3F3F3;
}
aside img{
    width: 400px;
    height: 534px;
    margin-top: 110px;
   margin-right: 50px;
}

.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
}

#prato{
    width: 604px;
    height: 500px;
    margin-left: 180px;
}

.sobre{
    margin-right: 190px;
    margin-top: 180px;
    color: #292929;
}

.sobre h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin-bottom: 24px;
}
.sobre p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.sobre a{
    font-size: 24px;
    color: #DA2535;
}

.populares h3{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin-top:150px;
    font-size: 48px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 100px;
    margin-left: 110px;
    margin-right: 110px;
    
}

.cards img{
    margin-top: -100px;
    margin-left: 50px;
}

.cards p{
    display: flex;
    justify-content: center;
    margin-top: 16px
}


.cards #titlepop{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #292929;
    margin-top: 51px;
}


.cards #headerpop{
font-size: 18px;
color: #616161;
font-weight: 400;
line-height: 28px;
}

.cards #price{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #292929;
}

#popular1,#popular2,#popular3{
    margin-left: 44px;
    width: 380px;
    height: 450px;
    border-radius: 32px;
    background-color: #F3F3F3;
    margin-top:250px;
}

.cardscomments{
display: flex;
justify-content: space-evenly;
flex-direction: row;
margin-left: 40px;
margin-bottom: 100px;
}

.comments #titlecomments{
    font-size: 48px;
    color: #292929;
    font-weight: 600;
    margin-bottom: 48px;
    margin-left: 180px;
}

#namecomments{
    margin-left: 40px;
    margin-top: 24px;
    font-size: 32px;
    color: #292929;
}

#headercomments{
    font-size: 24px;
    line-height: 38px;
    color: #616161;
    margin-top: 16px;
    margin-left: 40px;
}

#comment1{
    background-color: #F3F3F3;
    width: 604px;
    height: 390px;
    border-radius: 16px;
    margin-left: 35px;
}

#comment1 img{
    margin-left: 40px;
    margin-top: 31px;
}

#comment2{
    background-color: #F3F3F3;
    width: 604px;
    height: 390px;
    border-radius: 16px;
    margin-right: 35px;
}

#comment2 img{
    margin-left: 40px;
    margin-top: 31px;
}

.maprio{
    margin-left: 230px;
    width: 1228px;
    height: 500px;
    background-image: url(../Components/mapa\ rio.png);
    margin-bottom: 56px;
}

.maprioall p{
    font-size: 48px;
    color: #292929;
    font-weight: 600;
   margin-bottom: 80px;
   margin-left: 180px;
}

.search{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#imgtextarea{
width: 30px;
height: 30px;
margin-right:-50px;
margin-top: 17px;
}

#textarea{
    width: 630px;
    height: 70px;
    border-radius: 10px 0 0 10px;
    background-color: transparent;
}

#textarea::placeholder{
    color: #292929;
    font-size: 24px;
    padding-left: 66px;
}

#buttontextarea{
    width: 183px;
    height: 70px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-size: 24px;
    border: none;
    background-color: #DA2535;
}

#buttontextarea:hover{
    background-color: #292929;
    color: #DA2535;
}

footer .logofooter{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-left: 75px;
}

.logofooter span{
color: #DA2535;
}

.headerfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.Contato P{
    font-size: 32px;
    color: #292929;
    margin-bottom: 20px;
}

.Contato ul li{
    list-style: none;
    line-height: 40px;
}

.sobrenos P{
    font-size: 32px;
    color: #292929;
    margin-bottom: 20px;
}

.sobrenos ul li{
    list-style: none;
    line-height: 40px;
}

.Serviços P{
    font-size: 32px;
    color: #292929;
    margin-bottom: 20px;
}

.Serviços ul li{
    list-style: none;
    line-height: 40px;
    
}









